<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="witch.js" defer></script>
    <title>Rock Paper Scissors Mask Human Virus Water Air Fire Trout</title>
</head>
<body>
<div id="form">
    <form method="POST" action="/play">
       
    </form>
</div>
</body>